body{
    background-image: url(bc.jpg);
    max-width: 992px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
section{
    max-width: 768px;
    margin: 0 auto;
}
.song{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
.song p{
    font-weight: 700;
}
.grade{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.nav{
    position: fixed;
    z-index: 99;
    top: 45px;
    right: 0;
    background-color:#e6e6e6;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #a6a6a6;
}
.nav a{
    padding: 12px;
    display:block;
    text-decoration: none;
    color: #adb;
    font-weight: 700;
    font-size: 16px;
}
.nav a:hover{
    background-color:#4db8ff;
}
.second{
    display: flex;
    justify-content: flex-end;
}
.small{
    font-size: 12px;
}
.other{
    padding: 10px;
    display:block;
    text-decoration: none;
    color: darkcyan;
    font-weight: 700;
    font-size: 24px;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.wrap a{
    font-size: 28px;
}